{% extends 'shared/layouts/canvas.html' %}

{% block canvas %}
	<h1 class="grid_12">Games</h1>
    <div class="grid_4 push_8 sidebar">
        <div class="tinywrapper">
            <form method="POST" action="/games">
                <h3>Create a new game</h3>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" />
                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
    <div class="grid_8 pull_4" id="games-list">
        <div class="tinywrapper">
            <p>List of current and historical games filtered by user, date, etc.</p>
                <ul>
                    {% for game in games %}
                    <li{% if forloop.first %} class="first"{% endif %}><a href="/games/{{game.uid}}">{{game.name}}</a></li>
                    {% endfor %}  
                </ul>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
