{% extends 'shared/layouts/canvas.html' %}

{% block canvas %}
	<div class="grid_12 page_header">
		<h2>Edit your profile</h2>
	</div>
	<div class="grid_12" id="games_pane">
		<h2>Games</h2>
		<div class="subhead">Games go here</div>
	</div>
	<div class="grid_12"  id="awards_pane">
		<h2>Awards</h2>
		<div class="subhead">Awards go here</div>
		{% for level in bd_end_user.levels %}
		<div id="fz-level">
			<div class="levelwrapper">
			<img id="fz-level-image" src={{ level.url }} height="200px" width="200px" /><br />
			<div id="fz-level-label"><label for="fz-level-image">{{ level.end_user_title }}</label></div>
			<div id="fz-level-description">{{ level.end_user_description }}</div>
			{% if profile.fb_auth == 1 or profile.tw_auth == 1 %}
			<form method="post" action="http://www.factionized.com/profile/facebook/feed">
				<fieldset>
				{% csrf_token %}
					<input type="hidden"
						   name="message"
						   value="{{ level.end_user_title }}" />
					<input type="hidden"
						   name="image_url"
						   value="{{ level.url }}" />
					<input type="hidden"
						   name="caption"
						   value="{{ level.end_user_description }}" />
					{% ifequal profile.fb_auth 1 %}
					<button type="button" class="fz-facebook-post fz-button">Post it to Facebook!</button>
					{% endifequal %}
					{% ifequal profile.tw_auth 1 %}
					<button type="button" class="fz-twitter-post fz-button">Post it to Twitter!</button>
					{% endifequal %}
				</fieldset>
			</form>
			{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="grid_12" id="facebook_pane">
		<h2>Facebook</h2>
		{% ifequal profile.fb_auth 0 %}
		{% include 'profile/facebook_auth.html' %}
		{% else %}
		{% include 'profile/facebook_js.html' %}
		{% endifequal %}
	</div>
	<div id="twitter_pane">
		{% ifequal profile.tw_auth 0 %}
		{% include 'profile/twitter_auth.html' %}
		{% else %}
		{% include 'profile/twitter_js.html' %}
		{% endifequal %}
	<div>
{% endblock %}
