a { color: #241CB0; }

a:visited {
	color: auto;
}

.fz-canvas {
	border: solid 1px #CFCBB4;
	background-color: #FAF9F5;
	border-radius: 15px;
	-moz-border-radius: 15px;
	min-height: 300px;
}

#fz-nav, #fz-user-nav {
	background-color: #FAF9F5;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

#fz-user-nav {
	-webkit-box-shadow: #bbb 0px 2px 3px;
	-moz-box-shadow: #bbb 0px 2px 3px;
	text-align: right;
	border: solid 1px #CFCBB4;
}

#fz-nav a:hover, #fz-user-nav a:hover {
	text-decoration: underline;
}

#fz-nav span,
#fz-nav a,
#fz-user-nav span,
#fz-user-nav a {
	text-decoration: none;
}

.fz-button {
	margin: 2px 0px;
	background: #EEE -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#DDD));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#DDD));
	border-color: #BBB #999 #999 #BBB;
	border-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	color: black;
	cursor: pointer;
	display: inline-block;
	font: normal normal normal 13px/13px Arial, sans-serif;
	margin: 0px;
	padding: 4px 8px 5px;
	text-decoration: none;
	text-shadow: white 0px 1px 1px;
}

.fz-button.fz-inactive;

.fz-thread form textarea,
.fz-thread form .bd-button,
.fz-thread form, .fz-thread .fz-log {
	display: block;
}

.fz-thread .fz-log {
	height: 300px;
}

.fz-thread form .bd-button,
.fz-thread .fz-log,
.fz-textarea.fz-wrapper {
	border: 1px solid #000;
}


.fz-thread form textarea {
	width: 100%;
	border: 0px;
}

.fz-textarea.fz-wrapper {
	margin:5px 0;
	padding: 0px 7px 0px 1px;
}

.fz-game.fz-controls .fz-button {
	display: block;
}

.pane{
	margin-bottom:10px;
	padding:3px 0;
}
.pane h1{
	3px 0px;
}
