html, body, #wrapper{
	background-color:#DDDCCC;
	height:100%;
}
body{
	font-family:Arial,Helvetica,sans-serif;
}
body > #wrapper{
	height:auto;
	min-height:100%;
}

a {
    color: #008CD2;
    text-decoration:none;
}
a:hover{
	color:#004263;
    text-decoration:underline;
}
a:visited {
	color: auto;
}

.fz-canvas {
	border: solid 1px #CFCBB4;
	background-color: #FAF9F5;
	border-radius: 15px;
	-moz-border-radius: 15px;
	min-height: 300px;
}

#fz-nav, #fz-user-nav {
	background-color: #FAF9F5;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

#fz-user-nav {
	-webkit-box-shadow: #bbb 0px 2px 3px;
	-moz-box-shadow: #bbb 0px 2px 3px;
	text-align: right;
	border: solid 1px #CFCBB4;
}

#fz-nav a:hover, #fz-user-nav a:hover {
	text-decoration: underline;
}

#fz-nav span,
#fz-nav a,
#fz-user-nav span,
#fz-user-nav a {
	text-decoration: none;
}

.fz-button {
	margin: 2px 0px;
	background: #EEE -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#DDD));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#DDD));
	border-color: #BBB #999 #999 #BBB;
	border-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	color: black;
	cursor: pointer;
	display: inline-block;
	font: normal normal normal 13px/13px Arial, sans-serif;
	margin: 0px;
	padding: 4px 8px 5px;
	text-decoration: none;
	text-shadow: white 0px 1px 1px;
}

.canvas{
	overflow:hidden;
	padding-bottom:35px;/*for flush to footer use 23px*/
}
.fz-button.fz-inactive;

.fz-thread form textarea,
.fz-thread form .bd-button,
.fz-thread form, .fz-thread .fz-log {
	display: block;
}







.fz-thread .fz-log {
	height: 300px;
}

.fz-thread form .bd-button,
.fz-thread .fz-log,
.fz-textarea.fz-wrapper {
	border: 1px solid #000;
}


.fz-thread form textarea {
	width: 100%;
	border: 0px;
}

.fz-textarea.fz-wrapper {
	margin:5px 0;
	padding: 0px 7px 0px 1px;
}

.fz-game.fz-controls .fz-button {
	display: block;
}

.pane{
	margin-bottom:10px;
	padding:3px 0;
}
.pane h1{
	3px 0px;
}





#header, #footer{
	background-color:#2b2a25;
	color:#CBC4C2;
	width:100%;
	font: 13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}
#header{
	border-bottom:3px solid #403f3a;
	
}
#footer{
	border-top:3px solid #403f3a;
	font-size:12px;
	margin:0 auto;
	position:relative;
	display:block;
	height:20px;
	margin-top:-23px;
	clear:both;
}
#header a{
	/*color:#40FC1C;*/
    color:#2DB013;
}
#header a:hover{
	/*color:#2DB013;*/
    color:#40FC1C;
}
#header a#masthead{
	font-size:30px;
	font-weight:bolder;
	font-family:Georgia,"Times New Roman",Times,serif;
	text-decoration:none;
	letter-spacing:7px;
	text-transform:uppercase;
}
.authlink{
	text-align:right;
	padding-bottom:3px;
}
.authlink a{
	letter-spacing:.5px;	
}

.main-nav{
	text-align:right;
}
.main-nav a{
	display:inline-block;
	padding:6px 10px;
	margin-left:5px;
	font-size:22px;
	text-decoration:none;
}
.main-nav a:hover{
	background-color:#403F3A;
}


.tinywrapper{
    padding:10px;
}
.tinwrapper{
    -moz-border-radius:5px;
    -webkit-border-radious5px;
}

#games-list{
    background-color:#FFFFFF;
}
#games-list ul{
    list-style:none;
}
#games-list ul li{
    font-size:15px;
    margin:0 0 3px;
    padding:0 7px;
    border-bottom:1px solid #CCC9B9;
}
#games-list ul li:hover{
    background-color:#D7E2FF;
}
#games-list ul li.first{
    border-top:1px solid #CCC9B9;   
}
#games-list ul li a{
    padding:10px 0;
    display:block;
    width:100%;
}
.sidebar{

}
.sidebar h3{
    text-align:center;
    margin-bottom:5px;
}
.sidebar .tinywrapper{
    background-color:#cfcdc0;
}
