{% extends 'shared/layouts/canvas.html' %}

{% block canvas %}
	<div class="fz-banner">
		<h1>Factionized</h1>
		<h2>Social gaming meets <br />old school forum gaming.</h2>
		<p>
			Join a game, organize alliances, kill all who oppose and find ways
			to improve your stats.
		</p>
	</div>
	<div class="fz-login">
		<form class="fz-login">
			<div class="fz-field">
				<label for="id_email">Email</label>
				<input id="id_email" name="email" />
			</div>
			<div class="fz-field">
				<label for="id_password">Password</label>
				<input id="id_password" name="password" />
			</div>
		</form>
	</div>
{% endblock %}
